$textBlack: rgb(29, 29, 29);
$colorGrey: rgb(218, 218, 218);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: NanumSquare, sans-serif;
}

.header {
  @include flexCenter();
  width: 100vw;
  height: 8rem;

  &-inner {
    @include flexCenter();
    justify-content: space-evenly;
    width: 19rem;
    height: 3rem;
    border-radius: 5rem;
    background-color: #fffafa;

    div {
      @include flexCenter();
      width: 5.3rem;
      height: 2.3rem;
      border-radius: 5rem;
      transition: all 0.2s ease-in-out;
      color: $textBlack;
      font-weight: lighter;
      &:hover {
        cursor: pointer;
        background-color: rgba(187, 187, 187, 0.157);
        color: rgb(88, 88, 88);
      }
    }
  }
}
